.list-container{
    margin: 2px;
    padding: 10px;
    border: 1px solid #7a1f5f;
}
.list-panel{
    background-color: #7a1f5f;
    border-color: #7a1f5f;
}
.list-panel .panel-heading{
    background-color: #7a1f5f;  
    border-color: #7a1f5f;
}
h3.primary.panel-title{  /* glitch */
    text-align: center;
}
.char-name{
    margin: 0;
    text-align: center;
}
.char-name-img{
    height: 245px;
    width: 358px;
}