.navigation {
  position: fixed;
  top: 0;
  right: 20px;
  left: 20px;
  z-index: 1000;
  background-color: #7a1f5f;
  }
.navbar-inverse{
  border-color: #c2e1f5;
}
.search-btn {
  position: relative;
  right: 41.1px;
  height: 34px;
  /* border: none; */
  transition: 0.3s linear;

}
.search-btn:hover {
  background: #ce66b7;
}

.contribute-photo-btn{
  background:#fff;
  color:#4d3934;
  border:none;
  position:relative;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.contribute-photo-btn:hover{
  background: #ce66b7;
  
}
.contribute-photo-btn:before,.contribute-photo-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(51, 68, 167);
  transition:400ms ease all;
}
.contribute-photo-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.contribute-photo-btn:hover:before,.contribute-photo-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}
